body {
  margin: 0;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, .75);
  line-height: 1.625;
  text-rendering: optimizeLegibility;
  background-color: rgba(240,248,255, .1);
  background: linear-gradient(110deg, #f0f8ff1a 97.5%, #bae6fd  2.5%);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0a0a0a;
    color: #fff;
  }
  a {
    color: #7dd3fc !important;
  }

  .footer {
    background: #111 !important;
    color: white;
  }

}

hr {
  border: 2px #aeb solid;
  margin: 1.75rem 2rem;
}

h1 {
  font-size: 2rem;
}

ul li::marker {
  color: #bfc7fe;
}

a {
  color: #500724;
}

.shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.main-container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.main-content {
  margin: 1rem 0;
}

.main-content h1 {
  position: relative;
  top: .875rem;
}

.myself-image {
  float: left;
  box-shadow: 1rem 1rem rgba(0, 0, 0, .5);
  padding: 0 1rem;
  margin: .75rem 2rem;
  opacity: 0.35;
  z-index: 0;
  background-color: rgba(255, 255, 255, .05);
  overflow: hidden;
}

.myself-image img {
  position: relative;
  top: 1rem;
  z-index: -1;
}

.languages-icons {
  background: rgba(0, 0, 0, .75);
  max-width: 128px;
  height: 72px;
  display: inline;
  position: fixed;
  right: 2rem;
  top: 0;
  padding: 0 0.75rem;
}

.languages-icons img {
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.languages-icons img:hover {
  opacity: 0.3;
}

.joke a{
  text-decoration: line-through;
  margin: .5rem;
}

.overview a{
  position: relative;
  top: 1.2rem;
}

.graduations, .projects, .graduations img, .projects img {
  overflow-y: auto;
}

.graduations,
.overview {
  margin: 0 2rem;
}

.graduations hr {
  margin-right: 0;
  margin-left: 0;
}

.projects h1,
.main-content h1{
  margin: 0 2rem;
}

.projects img, .graduations img {
  display: inline-block;
  border: 3px solid #eed2b5;
  padding: .125rem;
  transition: all 0.2s ease-out;
  margin: 0.5rem 1rem;
  max-width: 950px;
}

.projects img:hover{
  filter: saturate(2.5%);
}

.graduations img {
  margin: 0;
}

.projects img {
  margin: 0 2rem;
}

.links {
  float: left;
  width: 100%;
}

.links h1 {
  margin: 0 2rem;
}

.links ul li {
  padding: 0;
  margin: 2rem 0.5rem;
}

.links ul li a {
  color: #43156e;
  letter-spacing: 0.25rem;
  text-decoration: none;
  transition: all 0.1s ease-out;
}

a {
  transition: all 0.1s ease-out;
  color: #43156e;
  letter-spacing: 0.25rem;
}

.links ul li a:hover,
a:hover {
  color: #9141db;
  text-decoration: underline;
  letter-spacing: 0.375rem;
}

.footer {
  float: left;
  width: 100%;
  background: #fff;
}

.footer h4 {
  text-align: center;
}


