body {
  margin: 0 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: rgba(0, 0, 0, .75);

  line-height: 1.5;
  text-rendering: optimizeLegibility;
  background-color: rgba(240,248,255, .1);
  background: linear-gradient(110deg, #f0f8ff1a 86%, #fffef5 10%);
}
hr {
  border: 6px #aeb solid;
  margin: 2rem 2rem;
}

h1 {
  font-size: 1.85rem;
}

ul li::marker {
  color: #bfc7fe;
}

.shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.main-container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  margin: 2rem 0;
}

.myself-image {
  float: left;
  box-shadow: 5px 10px rgba(0, 0, 0, .2);
  padding: 0 1rem;
  margin: 1rem 1.5rem;
  opacity: 0.35;
}

.languages-icons {
  background: rgba(0, 0, 0, 0.4);
  max-width: 128px;
  height: 72px;
  display: inline;
  position: fixed;
  right: 4rem;
  top: 0;
  padding: 0 0.6rem;
}

.languages-icons img {
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.languages-icons img:hover {
  opacity: 0.3;
}

.joke {
  text-decoration: line-through;
}

.graduations, .projects, .graduations img, .projects img {
  overflow-y: auto;
}

.graduations,
.overview {
  margin: 0 2rem;
}

.graduations hr {
  margin-right: 0;
  margin-left: 0;
}

.projects h1,
.main-content h1{
  margin: 0 2rem;
}

.projects img, .graduations img {
  display: inline-block;
  border: 3px solid #eed2b5;
  padding: 1rem;
  transition: all 0.2s ease-out;
  margin: 0.5rem 1rem;
  max-width: 928px;
}

.projects img:hover{
  filter: saturate(2.5%);
}

.graduations img {
  margin: 0;
}

.projects img {
  margin: 0 2rem;
}

.links {
  float: left;
  width: 100%;
}

.links h1 {
  margin: 0 2rem;
}

.links ul li {
  padding: 0;
  margin: 2rem 0.5rem;
}

.links ul li a {
  color: #43156e;
  letter-spacing: 0.4rem;
  text-decoration: none;
  transition: all 0.1s ease-out;
}

a {
  transition: all 0.1s ease-out;
  color: #43156e;
  letter-spacing: 0.4rem;
}

.links ul li a:hover,
a:hover {
  color: #9141db;
  text-decoration: underline;
  letter-spacing: 0.5rem;
}

.footer {
  float: left;
  width: 100%;
  background: #fff;
}

.footer h4 {
  text-align: center;
}


